*.swp
.Python
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pyre/
.pytest_cache/
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.webassets-cache
/site
ENV/
MANIFEST
__pycache__/
build/
links.txt
